#directories to be ignored
ignored_directory
node_modules 
vendor
#files to be ignored
.env
# Ignore Logs
logs
*.log
# Ignore the node_modules directory
node_modules/
# Ignore IDE specific files
.idea/
.vscode/
*.sw*
